* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: Raleway;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Inter;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.__conteiner {
  max-width: 1070px;
  margin: 0px auto;
}

.header {
  height: 120px;
}

.header__conteiner {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__conteiner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 404px;
}
.header__conteiner span {
  text-transform: uppercase;
  color: #272D38;
  font-weight: 700;
  font-size: 20px;
}
.header__conteiner a {
  font-weight: 400;
  font-size: 18px;
  color: #272D38;
  cursor: pointer;
}

.bannner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 51px;
}
.bannner__container .banner__info {
  margin-top: 95px;
  width: 540px;
}
.bannner__container h1 {
  font-size: 64px;
  color: #272D38;
  font-weight: 700;
  text-align: left;
}
.bannner__container p {
  font-size: 20px;
  color: #272D38;
  font-weight: 400;
  text-align: left;
  line-height: 28px;
  margin-top: 24px;
}
.bannner__container a {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #8EADD5;
  text-transform: uppercase;
  padding: 15px 31px;
  margin-top: 40px;
  border-radius: 8px;
  display: inline-block;
}

.companies__conteiner {
  margin: 0 auto;
  width: 915px;
  margin-top: 206px;
}
.companies__conteiner .companies__img-wrrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 86px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  border-radius: 8px;
  margin-top: 16px;
}
.companies__conteiner p {
  font-size: 16px;
  color: #667085;
  text-align: center;
}

.branding__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 136px;
}
.branding__container .branding__info {
  width: 435px;
  margin-top: 97px;
}
.branding__container h2 {
  font-size: 48px;
  color: #272D38;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
}
.branding__container p {
  font-size: 16px;
  color: #272D38;
  font-weight: 400;
  text-align: left;
  line-height: 28px;
  margin-bottom: 45px;
  width: 392px;
}

.custome__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 136px;
}
.custome__conteiner .custome__info {
  width: 435px;
  margin-top: 97px;
}
.custome__conteiner h2 {
  font-size: 48px;
  color: #272D38;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
}
.custome__conteiner p {
  font-size: 16px;
  color: #272D38;
  font-weight: 400;
  text-align: left;
  line-height: 28px;
  margin-bottom: 45px;
  width: 392px;
}

.testimonials__conteiner {
  margin-top: 136px;
}
.testimonials__conteiner .testimonials__desc {
  font-size: 16px;
  color: #667085;
  text-align: center;
}
.testimonials__conteiner h2 {
  font-size: 48px;
  color: #272D38;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
  max-width: 435px;
  margin: 0 auto;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 38px;
}
.testimonials__conteiner .testimonials__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.testimonials__conteiner .card {
  text-align: center;
  background-color: #F6F6F6;
  width: 345px;
  height: 334px;
}
.testimonials__conteiner .card img {
  margin-top: 32px;
  margin-bottom: 8px;
}
.testimonials__conteiner .card .card__name {
  font-size: 18px;
  color: #272D38;
  text-align: center;
  margin-bottom: 27px;
}
.testimonials__conteiner .card .card__desc {
  font-size: 14px;
  color: #272D38;
  text-align: center;
  line-height: 28px;
  width: 280px;
  margin: 0 auto;
}