@mixin bannerTitleStyles {
   font-size: $main-title-size;
   color: $main-text-color;
   font-weight: $title-weight;
   text-align: left;
}

@mixin bannerDescStyles {
   font-size: $banner-desc-size;
   color: $main-text-color;
   font-weight: $desc-weight;
   text-align: left;
   line-height: $main-line-height;
   margin-top: 24px;
}

@mixin blocksTitleStyles {
   font-size: $title-size;
   color: $main-text-color;
   font-weight: $title-weight;
   text-align: left;
   margin-bottom: 25px;
}

@mixin descStyles {
   font-size: $blocks-desc-size;
   color: $main-text-color;
   font-weight: $desc-weight;
   text-align: left;
   line-height: $main-line-height;
   margin-bottom: 45px;
   width: 392px;
}

@mixin btnStyles {
   font-size: $blocks-desc-size;
   color: $btn-tex-color;
   background-color: $btn-color;
   text-transform: uppercase;
   padding: 15px 31px;
   margin-top: 40px;
   border-radius: 8px;
   display: inline-block;
}

@mixin humanNameStyles {
   font-size: $menu-size;
   color: $main-text-color;
   text-align: center;
}

@mixin humanDescStyles {
   font-size: $human-desc-size;
   color: $main-text-color;
   text-align: center;
   line-height: $main-line-height;
}