@import 'nullstyle.scss';
@import 'mixins.scss';
@import 'variables.scss';

body {
   font-family: Inter;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   position: relative;
   overflow: hidden;
}

.__conteiner {
   max-width: 1070px;
   margin: 0px auto;
}



// header



.header {
   height: 120px;
}

.header__conteiner {
   height: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;

      ul {
         display: flex;
         justify-content: space-between;
         width: 404px;
      }

      span {
         text-transform: uppercase;
         color: $main-text-color;
         font-weight: $title-weight;
         font-size: $banner-desc-size;
      }

      a {
         font-weight: $desc-weight;
         font-size: $menu-size;
         color: $main-text-color;
         cursor: pointer;
      }
}


// banner


.bannner__container {
   display: flex;
   justify-content: space-between;
   margin-top: 51px;
   
      .banner__info {
         margin-top: 95px;
         width: 540px;
      }

      h1 {
         @include bannerTitleStyles;
      }

      p {
         @include bannerDescStyles;
      }

      a {
         @include btnStyles;
      }
}


// companies


.companies__conteiner {
   margin: 0 auto;
   width: 915px;
   margin-top: 206px;

      .companies__img-wrrapper {
         display: flex;
         justify-content: space-around;
         height: 86px;
         align-items: center;
         background-color: #F6F6F6;
         border-radius: 8px;
         margin-top: 16px;
      }

      p {
         font-size: $blocks-desc-size;
         color: $desc-text-color;
         text-align: center;
      }
}


// branding


.branding__container {
   display: flex;
   justify-content: space-between;
   margin-top: 136px;

    .branding__info {
      width: 435px;
      margin-top: 97px;
    }

    h2 {
      @include blocksTitleStyles;
    }

    p {
      @include descStyles;
    }
}


// custome


.custome__conteiner {
   display: flex;
   justify-content: space-between;
   margin-top: 136px;

      .custome__info {
      width: 435px;
      margin-top: 97px;
      }

      h2 {
         @include blocksTitleStyles;
      }
      
      p {
         @include descStyles;
      }
}


// testimonials


.testimonials__conteiner {
   margin-top: 136px;

      .testimonials__desc {
         font-size: $blocks-desc-size;
         color: $desc-text-color;
         text-align: center;
      }

      h2 {
         @include blocksTitleStyles;
         max-width: 435px;
         margin: 0 auto;
         text-align: center;
         margin-top: 16px;
         margin-bottom: 38px;
      }

      .testimonials__cards {
         display: flex;
         justify-content: space-around;
      }

      .card {
         text-align: center;
         background-color: #F6F6F6;
         width: 345px;
         height: 334px;

            img {
               margin-top: 32px;
               margin-bottom: 8px;
            }

            .card__name {
               @include humanNameStyles;
            }

            .card__desc {
               @include humanDescStyles;
            }
      }

      
}